<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/css/index_new.css" />
    <style>
        a {
            text-decoration: none;
            color: #232323;
        }
        .head_nav{
            float: left;
            color:rgb(102, 102, 102);
        }
        .head_nav li{
            cursor: pointer;
            float: left;
            padding: 0 20px;
            color: #252424;
            font-weight: 700;
            padding-bottom: 25px;
            font-size: 16px;
            position: relative;
            list-style-type: none;
        }
        .head_nav li b{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -30px;
            width: 70px;
            height: 3px;
            background-color: #ff3838;
        }
        .logo_div{
            float: left;
            margin-left: 10px;
            margin-top: 17px;
        }
        .banner img{
            max-width: 100%
        }
        .line{
            display: inline-block;
            width: 100%;
            left: 50%;
            margin-left: -50%;
            height: 0;
            border-bottom: 1px solid #e5e5e5;
            position: absolute;
            top: 0;
        }
        .fwbz{
            position: relative;
            padding: 80px 0 30px;
            text-align: center;
        }
        .czxc{
            position: relative;
            padding: 50px 0 30px;
            text-align: center;
        }
        .fwbz_body{
            position: relative;
        }
        .bz_title{
            position: absolute;
            top: -6px;
            width: 100%;
            margin-top: -10px;
            z-index: 1;
        }
        .title{
            background-color: #fff;
            padding: 0 30px;
            font-size: 24px;
            color: #454545;
        }
        .hzpp{
            position: relative;
            padding: 80px 0 30px;
            text-align: center;
        }
        ul, ol {
            list-style-type: none;
            list-style-image: none;
        }


        #mask-kk{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            background: #666;
            opacity: 0.5;
            display: none;
        }
        .popup-kk {
            position: absolute;
            left: 50%;
            width: 540px;
            height: 578px;
            background: #fff;
            z-index: 1000;
            display: none;
            border-radius: 5px;
        }
        .close {
            position: absolute;
            top: 21px;
            right: 20px;
            cursor:pointer;
        }

    </style>

    <title>房车时代</title>
</head>
<body>
    <div class="header">
        <div class="logo_div">
            <img width="100px" src="__STATIC__/img/logo.jpg" alt="">
        </div>
        <div class="head_nav">
            <ul>
                <li>
                    <a style="color: #ff3838" href="#">首页</a>
                    <b class="btnline" style="display: block;"></b>
                </li>
                <li>服务保障</li>
                <li>合作品牌</li>
                <li>参展现场</li>
                <li><a href="http://www.rvtimes.cn/">网站</a></li>
                <li class="btn">关于我们</li>
            </ul>
        </div>
    </div>
    <div id="mask-kk"></div>
    <div class="popup-kk">
        <span class="close">x</span>
        <p style="margin: 50px 35px">
            房车时代隶属于南京艾狄尔旅游文化发展有限公司。<br>
            房车时代网是《房车时代》杂志社官方网站，是国家加强旅居车及露营产业发展的舆论阵地。房车时代网是面向广大房车（旅居车）车主、准车主的媒体平台，提供及时的房车（旅居车）资讯、精确的车型导购、客观的车型评测、细致的用车指导、精辟的自驾线路、以及周边产品的介绍等，致力于打造一个房车（旅居车）的综合服务平台。<br>
            《房车时代》杂志社是人民日报社旗下中国能源汽车传播集团主管、主办的唯一国家级房车媒体平台，涵盖杂志、网站、新媒体等立体媒体平台，旗下拥有北京（国际）房车旅游文化博览会、南京（国际）房车旅游文化博览会、成都（国际）房车旅游文化博览会、中国房车文化节等行业知名房车文化活动，在南京市高淳区拥有占地4500亩的房车时代基地。另外，杂志社旗下嘀嘟客自驾俱乐部会员已超过2000人，未来将打造成全国最大的房车俱乐部平台。</p>
    </div>

    <div class="div_body">
    <!--        banner-->
        <div class="banner">
            <a href="http://act.peoplerv.com/index/index/id/60/source/wangzhanqu"> <img src="__STATIC__/img/banner.jpg" alt=""></a>
        </div>
        <!--     banner  end-->

        <div class="fwbz">
            <div class="fwbz_body">
                <div class="bz_title">
                    <span class="title">服务保障</span>
                </div>
                <span class="line"></span>
            </div>
            <div>
                <img src="__STATIC__/img/fwbz.jpg" width="100%" alt="">
            </div>
        </div>

        <div class="hzpp" id="brand">
            <div class="fwbz_body">
                <div class="bz_title">
                    <span class="title">合作品牌</span>
                </div>
                <span class="line"></span>
            </div>
            <div class="list">
                <ul>
                    <li class="clearfix">                            <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743b31c63.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743be5719.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743c99830.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743d02226.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743db23e0.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-19/5daaeb2726268.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743f6880b.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743fed3e7.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744073418.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7441b6acb.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74428fc22.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74432e79c.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7443d3fee.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7444357d3.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7444d67f0.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74457ee74.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748b9aa41.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7445d8fad.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7446851cd.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7447c0b6f.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74482ca3b.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74488db2d.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7449a6edb.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744a4b6a2.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744aea18f.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744b921c2.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744ccf4fe.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7498b4a93.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744d306f8.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744d8fa1e.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744f3626b.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744fcf38f.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74508862c.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74529240c.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7453a33ce.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745463bc0.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74552990f.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74561d55b.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745721e84.jpg" alt="" /></div>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7457e5b74.jpg" alt="" /></div>
                    </li><li class="clearfix">                            <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7458a3bb4.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745a924da.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745bad0b0.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745c7cf4f.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745d2beb9.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745e4227f.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745f024c0.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745faaaa2.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7460bbc54.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7461a8850.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7462c6b09.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7463c0971.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7464c097c.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7465b6f46.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74668da99.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74675056a.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746841b79.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746918ac2.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7469c3458.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746bd42dd.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746cd491b.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746dc32d5.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746f5cc57.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74701836e.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7470cf6e6.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7471d2688.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7473af937.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74746edb1.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74753b8b8.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7475d49da.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7476a150e.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747868c81.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7479811fb.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747a7f0f2.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747b441bd.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747be6d5c.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747d0020a.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747e15b97.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747f09966.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747fe2e24.jpg" alt="" /></div>
                </li><li class="clearfix">                            <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7480eb700.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7481b97f3.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74827ebdb.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74836df08.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748477bf8.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748541ad9.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7485be4ab.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748646d0b.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7487135c5.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748804aaa.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748909cfc.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748a33324.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748aeaa4c.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748c8b13f.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748da3ea2.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748ea3516.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748f92567.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7490a1208.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74919978a.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7492a3df3.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7493a6594.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749483e5a.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749575123.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7495f1f88.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7496b21a1.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74979aae2.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749984c15.jpg" alt="" /></div>
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749a30acb.jpg" alt="" /></div>
                </ul>
            </div>
        </div>

        <div class="czxc">
            <div class="fwbz_body">
                <div class="bz_title">
                    <span class="title">参展现场</span>
                </div>
                <span class="line"></span>
            </div>

        </div>
        <div style="margin-top: 20px">
            <img src="__STATIC__/img/czxc.jpg" width="100%" alt="">
        </div>

    </div>

    <div id="footer">
        <div class="con">
            <div class="texts clearfix">
                <div class="txt first">
                    <dl>
                        <dt>招商类别：</dt>
                        <dd>房车、改装车、配件、营地、木屋、户外用品、旅游产品</dd>
                    </dl>
                </div>
                <div class="txt" style="width: 480px">
                    <dl>
                        <dt>咨询热线：</dt>
                        <dd>张薇 13910809111 李洁 13581658737 王根垒 15330272265</dd>
                    </dl>
                </div>
            </div>
            <div class="img">
                <img width="150px" src="__STATIC__/img/weixin.jpg" alt="" />
            </div>
        </div>
        <div class="copy">&copy; 2019 南京艾狄尔旅游文化发展有限公司 苏ICP备19058034号-1</div>
    </div>



</body>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/index.js"></script>
<script>

    $('.btn').click(function() {
        $('#mask-kk').css({
            display: 'block',
            height: $(document).height()
        })
        var $Popup = $('.popup-kk');
        $Popup.css({
            left: ($('body').width() - $Popup.width()) / 2 + 'px',
            top: ($(window).height() - $Popup.height()) / 2 + $(window).scrollTop() + 'px',
            display: 'block'
        })
        $("body").css({overflow: "hidden"})
    })

    $('.close').click(function() {
        $('#mask-kk,.popup-kk').css('display', 'none');
        $("body").css({overflow:""})
    })
</script>
</html>