<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
    <title>报名列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/thems.css">
    <script type="text/javascript" src="__STATIC__/Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Assets/js/WdatePicker.js"> </script>
    <script type="text/javascript">
        $(function(){
            //自适应屏幕宽度

            var main_h = $(window).height();
            $('.hy_list').css('height',main_h-45+'px');

            var search_w = $(window).width()-40;
            $('.search').css('width',search_w+'px');
            //$('.list_hy').css('width',search_w+'px');
        });
    </script>
    <!--框架高度设置-->
</head>

<body>
<div id="right_ctn">
    <div class="right_m">
        <!--会议列表-->
        <div class="hy_list">
            <div class="box_t">
                <span class="name">到场统计</span>

            </div>
            <!--列表-->
            <div id="container" style="min-width: 310px; height: 1000px; margin: 0 auto"></div>

            <div style="margin-bottom: 20px">
                <div id="container1" style="min-width: 50%; height: 400px;float: left"></div>
                <div id="container2" style="min-width: 50%; height: 400px;float: left"></div>
            </div>

            <!--右边底部-->

        </div>

        <!--会议列表-->
    </div>

</div>
<input type="hidden" value="{$id}" id="act_id">
<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
<script>

    function ajax_count(){
        var act_id=$("#act_id").val();
        $.ajax({
            url:"{:U('Activity/countArrUser')}",
            data:{id:act_id},
            dataType:"json",
            success: function (data) {

                console.log(data)
                var num=data.num;
                var province=data.province;
                $('#container').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: '现场签到统计'
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: {
                        categories: province,
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '报名人数',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' 人'
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                allowOverlap: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name:'报名人数',
                        data: num
                    }]
                });
            }
        })
    }

    function ajax_count1(){
        var act_id=$("#act_id").val();
        $.ajax({
            url:"{:U('Activity/countArrUserPie')}",
            data:{id:act_id},
            dataType:"json",
            success: function (data) {
                console.log(data.list)
                var list = data.list;
                $('#container1').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: '现场签到比列饼状图'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: list
                    }]
                });
            }
        })
    }
    function ajax_count2(){
        var act_id=$("#act_id").val();
        $.ajax({
            url:"{:U('Activity/countSourceArrPie')}",
            data:{id:act_id},
            dataType:"json",
            success: function (data) {
                console.log(data.list)
                var list = data.list;
                $('#container2').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: '现场签到渠道比列饼状图'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: list
                    }]
                });
            }
        })
    }

    $(function () {
        ajax_count();  //城市柱状图
        ajax_count1();  //城市饼状图
        ajax_count2();  //渠道饼状图
    });
</script>
</body>
</html>
