<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
    <title>报名列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/thems.css">
    <script type="text/javascript" src="__STATIC__/Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Assets/js/WdatePicker.js"> </script>
    <script type="text/javascript">
        $(function(){
            //自适应屏幕宽度

            var main_h = $(window).height();
            $('.hy_list').css('height',main_h-45+'px');

            var search_w = $(window).width()-40;
            $('.search').css('width',search_w+'px');
            //$('.list_hy').css('width',search_w+'px');
        });
    </script>
    <!--框架高度设置-->
</head>

<body>
<div id="right_ctn">
    <div class="right_m">
        <!--会议列表-->
        <div class="hy_list">
            <div class="box_t">
                <span class="name">报名列表</span>

            </div>
            <div class="search gzrj">
                <form action="{:U('Activity/entry_info')}" name="formtest" method="post">
                    <div class="search">
                        <span>输入日期：</span>
                        <input type="text" id="key1" name="start_time" <gt name="start_time" value="0">value="{$start_time|date='Y-m-d',###}" </gt> onClick="WdatePicker()" readonly="readonly">--
                        <input type="text" id="key2" name="end_time" <gt name="end_time" value="0">value="{$end_time|date='Y-m-d',###}" </gt>   onClick="WdatePicker()" readonly="readonly">
                        <input type="hidden" name="id" value="{$id}">
                        <a class="btn" id="sub">查询</a>
                        <span>今日新报名人数 {$today_num}人&nbsp;&nbsp;&nbsp;&nbsp;共计报名{$all_num}人</span>
<!--                        <a href="{:U('Activity/exam_export',array('id'=>$id))}" class="btn">导出信息</a>-->
                        <a onclick="export_info()" class="btn">导出信息</a>
                    </div>

                </form>
            </div>
            <!--列表-->
            <form action="" method="post">
                <table cellpadding="0" cellspacing="0" class="list_hy" style="width: 95%">
                    <tr> 
                        <th scope="col">ID</th>
                        <th scope="col">姓名</th>
                        <th scope="col">手机号</th>
                        <th scope="col">意向车型</th>
                        <th scope="col">来源</th>
                        <th scope="col">来源类型</th>
                        <th scope="col">归属地</th>
                        <th scope="col">报名时间</th>
                    </tr>
                    <foreach name="list" item="v">
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.username}</td>
                            <td>{$v.userphone}</td>
                            <td>{$v.car_type}</td>
                            <td>{$v.source_title}</td>
                            <td>{$v.source_type}</td>
                            <td>{$v.mobile_area}</td>
                            <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>

                        </tr>
                    </foreach>
                </table>
                <div class="pagination">{$page}</div>
                <!--列表-->
                <!--右边底部-->
            </form>
            <!--右边底部-->

        </div>
        <!--会议列表-->
    </div>
</div>
<script>
    /*提交搜索*/
    $('#sub').click(function(){
        document.formtest.submit();
    });

    function setRecommend(id)
    {
        $.ajax({
            url:"{:U('setRecommend')}",
            data:{id:id}
        })
    }
    $('#sub').click(function(){
        document.formtest.submit();
    });
    
    function export_info() {
        var id = "{$id}";
        var start_time = $("#key1").val();
        var end_time = $("#key2").val();
        if(start_time == ''){
            start_time = 0;
            end_time = 0;
        }

        var url = "__APP__/Activity/exam_export/id/"+id+"/start_time/"+start_time+"/end_time/"+end_time;

        location.href = url;
    }
</script>
</body>
</html>
