<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
    <title>角色添加</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/thems.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/easydropdown.css"/>
    <script type="text/javascript" src="__STATIC__/Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Assets/js/WdatePicker.js"> </script>
    <script type="text/javascript" src="__STATIC__/Assets/js/jquery.easydropdown.min.js"> </script>
    <style>

        .hypz li .li_r input {
            height: 30px;
            line-height: 30px;
        }
        .new_title{
            display: inline-block;
            zoom: 1;
            width: 130px;
            text-align: right;
            line-height: 25px;
            vertical-align: top;
            padding-top: 10px;
        }
        .new_lir{
            display: inline-block;
            *display: inline;
            zoom: 1;
            width: 400px;
            vertical-align: middle;
            text-align: left;
            margin-left: 20px;
        }
        .dropdown .selected, .dropdown li {
            font-size: 13px;
        }
        .dropdown{
            margin-left:0;
        }
        </style>
</head>

<body>
<div id="right_ctn">
    <div class="right_m">
        <!--会议列表-->
        <div class="hy_list">
            <div class="box_t">
                <span class="name">新增角色</span>

                <!--当前位置-->
            </div>
            <div class="space_hx">&nbsp;</div>
            <!--终端列表-->
            <form action="{:U('Role/saveUser')}" method="post">
                <div class="xjhy">
                    <!--基本配置-->
                    <ul class="hypz">
                        <li class="clearfix">
                            <span class="title">姓名：</span>
                            <div class="li_r">
                                <input  name="user_name" value="{$info.user_name}" type="text">
                                <input type="hidden" value="{$info.id}" name="id">
                            </div>
                        </li>

                        <li class="clearfix" style="margin-top: 10px;">
                            <span class="title">绑定手机号：</span>
                            <div class="li_r">
                                <input  name="tel_phone" value="{$info.tel_phone}" type="text">
                            </div>
                        </li>
                        <div class="clearfix" style="margin-top: 10px">
                            <span class="new_title">所属角色：</span>
                            <div class="new_lir">
                                <eq name="info['role_id']" value="1">
                                    <select name="role_id" class="dropdown" style="font-family:'microsoft yahei';">
                                        <option value="1">超级管理员</option>
                                    </select>
                                    <else />
                                    <select name="role_id" class="" style="font-family:'microsoft yahei';">
                                        <option value="2">销售</option>
                                    </select>
                                </eq>

                            </div>
                        </div>
                        <div class="clearfix" style="margin-top: 10px">
                            <span class="new_title">所属地区：</span>
                            <div class="new_lir">
                                <select name="area"  class="dropdown" style="font-family:'microsoft yahei';">
                                    <option value="">请选择</option>
                                    <option value="北京" <eq name="info['area']" value="北京">selected</eq>>北京</option>
                                    <option value="南京" <eq name="info['area']" value="南京">selected</eq>>南京</option>
                                    <option value="张家港" <eq name="info['area']" value="张家港">selected</eq>>张家港</option>

                                </select>
                            </div>
                        </div>
                        <li class="tj_btn">
                            <a id="add_course">提交</a>
                        </li>
                    </ul>
                    <!--基本配置-->
                </div>
            </form>
            <!--终端列表-->
        </div>
        <!--会议列表-->
    </div>
</div>
</body>
<script>
    $("#add_course").click(function(){
        $("form").submit();
    });
</script>
</html>
