<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" >
    <title>邀约统计</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/Assets/css/thems.css?time=1541">
    <script type="text/javascript" src="__STATIC__/Assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/Assets/js/WdatePicker.js"> </script>
    <script type="text/javascript">
        $(function () {
            $(".tabBox .tabCont:first").css("display","block");
            $(".tabBox .tabNav li").click(function(){
                $(this).siblings("li").removeClass("now");
                $(this).addClass("now");
                $(this).parents(".tabBox").find(".tabCont").css("display","none");
                var i=$(this).index();
                $(this).parents(".tabBox").find(".tabCont:eq("+i+")").css("display","block");
            });
        })

    </script>
    <style>
        .n_p1{
            font-size: 12px
        }
       .n_p2{
           text-align: center;
           font-size: 12px;
           margin-top: 10px;
       }
        .n_d1{
            width: 100px;
            background: rgb(31,159,255);
            font-size: 20px;
            color: #fff;
            padding: 20px 20px 10px 20px;
            display: inline-block;
            margin-right: 20px;
            text-align: center;
        }
    </style>
    <!--框架高度设置-->
</head>

<body>
<div id="right_ctn">
    <div class="right_m">

        <!--会议列表-->
        <div class="hy_list" style="clear: none">

            <div class="tabBox">
                <div style="margin:10px 0">
                    <div class="n_d1"  style=" background: rgb(31,159,255);">
                        <p class="n_p1" >昨日邀约总数</p>
                        <p class="n_p2" >{$last_fir.num}</p>
                    </div>
                    <div  class="n_d1"    style="background: rgb(1,150,136)">
                        <p class="n_p1" >七日邀约冠军</p>
                        <p class="n_p2" >{$week_fir.sale_name}</p>
                    </div>
                    <div  class="n_d1"    style="background: rgb(255,88,35);">
                        <p class="n_p1" >七日邀约总数</p>
                        <p class="n_p2" >{$week_all_num}</p>
                    </div>
                    <div  class="n_d1"  style=" background: rgb(1,150,136);">
                        <p  class="n_p1"  >七日A类客户总数</p>
                        <p   class="n_p2" >{$a_num}</p>
                    </div>
                </div>

                <ul class="tabNav">
                    <li class="now"><span>昨日邀约统计</span></li>
                    <li><span>近七日邀约统计</span></li>
                </ul>

            <!--列表-->
            <div class="tabCont" style="display:block;">


                <table cellpadding="0" cellspacing="0" class="list_hy" style="width: 95%">
                    <tr>
                        <th scope="col">日期</th>
                        <th scope="col">姓名</th>
                        <th scope="col">已邀约数</th>
                        <th scope="col">未邀约数</th>
                    </tr>
                    <foreach name="last_list" item="v">
                        <tr>
                            <td>{$v.record_date|date="Y-m-d ",###}</td>
                            <td>{$v.sale_name}</td>
                            <td>{$v.yy_num}</td>
                            <td>{$v.wyy_num}</td>
                        </tr>
                    </foreach>
                </table>
            </div>

            <div class="tabCont" style="display:none;">


                <table cellpadding="0" cellspacing="0" class="list_hy" style="width: 95%">
                    <tr>
                        <th scope="col">日期</th>
                        <th scope="col">姓名</th>
                        <th scope="col">已邀约数</th>
                        <th scope="col">未邀约数</th>
                    </tr>
                    <foreach name="week_list" item="v">
                        <tr>
                            <td>{$v.record_date|date="Y-m-d",###}</td>
                            <td>{$v.sale_name}</td>
                            <td>{$v.yy_num}</td>
                            <td>{$v.wyy_num}</td>
                        </tr>
                    </foreach>
                </table>
            </div>
            </div>
                <!--列表-->
                <!--右边底部-->
        </div>
        <!--会议列表-->
    </div>
</div>
<script>
    /*提交搜索*/
    $('#sub').click(function(){
        document.formtest.submit();
    });

</script>
</body>
</html>
