<extend name="Home@Index/basetpl"/>
<block name="source">
    <title>房车时代</title>
    <link rel="stylesheet" href="__STATIC__/css/rules.css">
</block>

<block name="body">
    <div class="rule_box">
        <div>
            <p class="rule_title">活动规则</p>
        </div>
        <div class="rule_intro">
            <p>评选规则：</p>
            <span>线上荣耀，先声夺人，综合评比，公平公正</span>
            <p>投票规则：</p>
            <span>每个微信每天限投1票，点开图片，更多内容供您参阅！活动介绍</span>
            <p>活动介绍：</p>
            <span>2016平安产险明星会南区分会长候选人大赛火热来複来自区域11家机构的22位明星荣耀登场。现大赛正式开通线上投票，最终票选结果将占決赛成绩的40%</span>
        </div>
    </div>

    <div class="foot clearFix">
        <ul class="foot_menu clearFix">
            <li><a href="{:U('index')}">全部参赛</a></li>
            <li><a href="{:U('rank_list')}">当前排名</a></li>
            <li class="foot_act"><a href="{:U('act_rules')}">活动规则</a></li>
        </ul>
    </div>
    <script>
        $(function () {
            // window.scrollTo({
            //     top: 2000,
            //     behavior: "smooth"
            // });
            $('html,body').animate({"scrollTop":"600px"},500);
        });
    </script>
</block>