<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title模块 -->
    <block name="title">
    </block>
    <!--引入css-->
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/css/head.css">
    <!--引入js-->
    <script src="__STATIC__/js/jquery-1.12.2.min.js"></script>
    <script src="__STATIC__/js/rem.js"></script>
    <script src="__STATIC__/js/leftTime.min.js"></script>
    <!-- source模块 -->
    <block name="source">
    </block>
</head>
<body>
<!--头部模块-->
<block name="header">
    <div class="head_top"><img src="__STATIC__/images/head_img2.jpg" alt="" style="width: 100%"></div>
    <div class="head_middle">
        <ul class="head_dh clearFix">
            <li>
                <p>参赛数</p>
                <p>{$base_info.entries_num}</p>
            </li>
            <li>
                <p>投票数</p>
                <p>{$base_info.vote_num}</p>
            </li>
            <li>
                <p>访问量</p>
                <p>{$base_info.pv_num}</p>
            </li>
        </ul>
    </div>
    <div class="head_footer data-show-box" id="dateShow1">
        <img src="__STATIC__/images/mobile_time.png" alt="">
        <span class="date-info-show" id="dataInfoShow_1">投票剩余时间：</span>
        <span class="date-tiem-span d">00</span>
        <span class="date-def">天</span>
        <span class="date-tiem-span h">00</span>
        <span class="date-def">时</span>
        <span class="date-tiem-span m">00</span>
        <span class="date-def">分</span>
        <span class="date-tiem-span s">00</span>
        <span class="date-def">秒</span>
    </div>
</block>

<!-- body模块 -->
<block name="body"></block>


<!--底部模块-->
<block name="footer"></block>
</body>
<script type="text/javascript">
   $(function () {
       var data={};
       var enddate = "{$end_date}";
       var nowdate = "{$now_date}";
       data.enddate = parseInt(enddate);
       data.nowdate = parseInt(nowdate);
       data.init = true;
       //日期倒计时
       $.leftTime(data,function(d){
           if(d.status){
               var $dateShow1=$("#dateShow1");
               $dateShow1.find(".d").html(d.d);
               $dateShow1.find(".h").html(d.h);
               $dateShow1.find(".m").html(d.m);
               $dateShow1.find(".s").html(d.s);
           }
       });
   })
</script>
</html>