<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title模块 -->
    <block name="title">
    </block>
    <!--引入css-->
    <link rel="stylesheet" href="__STATIC__/css/common.css">
    <link rel="stylesheet" href="__STATIC__/css/head.css">
    <!--引入js-->
    <script src="__STATIC__/js/jquery-1.12.2.min.js"></script>
    <script src="__STATIC__/js/rem.js"></script>
    <script src="__STATIC__/js/leftTime.min.js"></script>
    <!-- source模块 -->
    <block name="source">
    </block>
</head>
<body>
<!--头部模块-->
<block name="header">
    <div class="head_top"><img src="__STATIC__/images/head_img2.jpg" alt="" style="width: 100%"></div>
    <div class="head_middle">
        <ul class="head_dh clearFix">
            <li>
                <p>参赛数</p>
                <p>{$base_info.entries_num}</p>
            </li>
            <li>
                <p>投票数</p>
                <p id="all_vote_num">{$base_info.vote_num}</p>
            </li>
            <li>
                <p>访问量</p>
                <p>{$base_info.pv_num}</p>
            </li>
        </ul>
    </div>
    <div class="head_footer data-show-box" id="dateShow1">
        <img src="__STATIC__/images/mobile_time.png" alt="">
        <span class="date-info-show" id="dataInfoShow_1">投票剩余时间：</span>
        <span class="date-tiem-span d">00</span>
        <span class="date-def">天</span>
        <span class="date-tiem-span h">00</span>
        <span class="date-def">时</span>
        <span class="date-tiem-span m">00</span>
        <span class="date-def">分</span>
        <span class="date-tiem-span s">00</span>
        <span class="date-def">秒</span>
    </div>
    <div class="mask" style="opacity: 0.6;display: none"></div>
    <div class="register" style="display: none">
        <span class="close_tk clearFix">×</span>
        <p>请先完善信息</p>
        <div class="yan">
            <div class="inp">
                <input type="text" id="phone" placeholder="手机号">
            </div>
            <div class="inp yanzheng clearFix">
                <input id="verify_code" class="fl" type="text" placeholder="短信验证码">
                <button type="button" class="testBtn-a" id="dateBtn1">获取验证码</button>
            </div>
        </div>
        <button class="button" id="sub_btn">立即完善</button>
    </div>

    <div class="ts_tk" style="display: none">
        <span class="close_tk clearFix">×</span>
        <p class="d_ts_info"><img src="__STATIC__/images/success.png" alt=""><span class="ts_info">投票成功</span></p>
        <span id="djs_cs" class="djs_cs">30秒后自动关闭</span>
    </div>
</block>

<!-- body模块 -->
<block name="body"></block>


<!--底部模块-->
<block name="footer"></block>
</body>
<script type="text/javascript">
   $(function () {
       var data={};
       var enddate = "{$end_date}";
       var nowdate = "{$now_date}";
       data.enddate = parseInt(enddate);
       data.nowdate = parseInt(nowdate);
       data.init = true;
       //日期倒计时
       $.leftTime(data,function(d){
           if(d.status){
               var $dateShow1=$("#dateShow1");
               $dateShow1.find(".d").html(d.d);
               $dateShow1.find(".h").html(d.h);
               $dateShow1.find(".m").html(d.m);
               $dateShow1.find(".s").html(d.s);
           }
       });
   });
   //获取验证码
   $("#dateBtn1").on("click",function(){
       var _this=$(this);
       //手机号码验证
       var phone = $("#phone").val();
       if(!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))){
           alert("手机号码有误，请重填");
           return false;
       }
       if(!$(this).hasClass("on")){
           $.ajax({
               type:'post',
               url:"{:U('Login/sendMsCode')}",
               data:{phone:phone},
               success:function (data) {
                    var msg = data.msg;
                    alert(msg)
                   if(data.code == 1){
                       $.leftTime(60,function(d){
                           if(d.status){
                               _this.addClass("on");
                               _this.html((d.s=="00"?"60":d.s)+"秒后重新获取");
                           }else{
                               _this.removeClass("on");
                               _this.html("获取验证码");
                           }
                       });
                   }
               }
           });

       }
   });
   document.body.addEventListener('focusin', () =>{
       　　//软键盘弹起事件
        $("#verify_code").focus();

   });

   // 关闭弹框
   $(".close_tk").click(function () {
       close_tk();
   });
   function close_tk(){
       $('.mask').css('display','none');
       $('.register').css('display','none');
       $('.ts_tk').css('display','none');
   }

   function open_tk(){
       $('.mask').css('display','block');
       $('.register').css('display','block');
   }

   //完善手机
   $("#sub_btn").click(function () {
       var phone = $("#phone").val();
       var verify_code = $("#verify_code").val();
       $.ajax({
           type:'post',
           url:"{:U('handleUserInfo')}",
           data:{phone:phone,code:verify_code},
           success:function (data) {
               var code = data.code;
               if(code == 1){
                   close_tk();
                   votes_state = 1;
               }else{
                   alert(data.msg);
               }
           }
       });
   });

   function djs_tk(){
       djs_state = 1;
       $('.mask').css('display','block');
       $('.ts_tk').css('display','block');
       var _this=$("#djs_cs");
       if(!$(this).hasClass("on")){
           $.leftTime(30,function(d){
               if(d.status){
                   _this.addClass("on");
                   _this.html((d.s=="00"?"30":d.s)+"秒后自动关闭");
               }else{
                   _this.removeClass("on");
                   close_tk();
               }
           });

       }
   }

</script>
</html>