<extend name="Home@Index/basetpl"/>
<block name="source">
    <title>投票详情</title>
    <link rel="stylesheet" href="__STATIC__/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/css/detail.css">
    <script src="__STATIC__/js/swiper.min.js"></script>
</block>

<block name="body">
    <div class="detail_banner">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <volist name="list" id="v">
                    <div class="swiper-slide">
                        <div style="width:100%">
                            <img src="__PUBLIC__/upload/banner_img/{$v.img_url}" alt="">
                            <!--                        <p class="rv_intro">这款凯伦宾威大通C型纪念款房车这款凯伦宾威大通C型纪念款房车这款凯伦宾威大通C型纪念款房车</p>-->
                        </div>
                    </div>
                </volist>


            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <p class="rv_intro">{$info.company_intro}</p>
        <dd>
            <span onclick="do_vote({$info.id})">投票</span><span class="share">分享</span>
        </dd>
        <p class="vote_num" id="vote_num{$info.id}">票数：{$info.tp_num}</p>
    </div>
    <div class="foot clearFix">
        <ul class="foot_menu clearFix">
            <li class="foot_act"><a href="{:U('index')}">全部参赛</a></li>
            <li><a href="{:U('rank_list')}">当前排名</a></li>
            <li><a href="{:U('act_rules')}">活动规则</a></li>
        </ul>
    </div>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },
            autoplay: false,
        });

        votes_state = {$vote_state};
        function do_vote(pid){
            var old_num = $("#vote_num"+pid).html();
            var old_all_num = $("#all_vote_num").html();
            if(votes_state == 3){
                open_tk();
            }else if(votes_state == 2){
                $(".d_ts_info").html('今日已投');
                djs_tk();
            }else if(votes_state == 1){
                $.ajax({
                    type:"post",
                    url:"{:U('handleVotes')}",
                    data:{id:pid},
                    success:function (data) {
                        var code = data.code;
                        if(code ==1 ){
                            $(".ts_info").html(data.msg);
                            var new_num = parseInt(old_num)+1;
                            var new_all_num = parseInt(old_all_num)+1;
                            $("#vote_num"+pid).html(new_num);
                            $("#all_vote_num").html(new_all_num);
                        }else{
                            $(".d_ts_info").html(data.msg);
                        }
                        djs_tk();
                    }
                })
            }
        }
    </script>
</block>