<extend name="Home@Index/basetpl"/>
<block name="source">
    <title>房车时代</title>
    <link rel="stylesheet" href="__STATIC__/css/index.css">
</block>

<block name="body">
    <div class="index_body">
                <ul class="vote_list" style="overflow: hidden;">
                    <volist name="list" id="v">
                        <li>
                            <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                            <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                            <!--                            </a>-->
                            <a href="{:U('detail',array('id'=>$v['id']))}">
                            <img src="__PUBLIC__/upload/company_logo/{$v.company_logo}" />
                            </a>
                            <p>{$v.company_name}</p>
                            <p>
                                <span class="v_num">编号：{$key+1}</span>
                                <span class="v_vote">票数：<en id="vote_num{$v.id}">{$v.tp_num}</en></span>
                            </p>
                            <dd>
                                <span onclick="do_vote({$v.id})" >投票</span><span class="share">分享</span>
                            </dd>
                        </li>
                    </volist>


                </ul>
    </div>

    <div class="foot clearFix">
        <ul class="foot_menu clearFix">
            <li class="foot_act">全部参赛</li>
            <li>当前排名</li>
            <li>活动规则</li>
        </ul>
    </div>
    <script>
        votes_state = {$vote_state};
        function do_vote(pid){
            var old_num = $("#vote_num"+pid).html();
            var old_all_num = $("#all_vote_num").html();
            if(votes_state == 3){
                open_tk();
            }else if(votes_state == 2){
                alert('今日已投');
            }else if(votes_state == 1){
                $.ajax({
                    type:"post",
                    url:"{:U('handleVotes')}",
                    data:{id:pid},
                    success:function (data) {
                        var code = data.code;
                        alert(data.msg)
                        if(code ==1 ){
                            var new_num = parseInt(old_num)+1;
                            var new_all_num = parseInt(old_all_num)+1;
                            $("#vote_num"+pid).html(new_num);
                            $("#all_vote_num").html(new_all_num);
                        }
                    }
                })
            }
        }
    </script>
</block>