<extend name="Home@Index/basetpl"/>
<block name="source">
    <title>房车时代</title>
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <script type="text/javascript" src="__STATIC__/js/tp_share.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</block>

<block name="body">
    <div class="index_body">
        <div class="sel_box">
            <form action="">
                <input type="text" placeholder="请输入名称">
                <img id="sel_btn" src="__STATIC__/images/search@3x.png" alt="">

            </form>
        </div>
                <ul class="vote_list" style="overflow: hidden;">
                    <volist name="list" id="v">
                        <li>
                            <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                            <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                            <!--                            </a>-->
                            <a href="{:U('detail',array('id'=>$v['id']))}">
                            <img src="__PUBLIC__/upload/company_logo/{$v.company_logo}" />
                            </a>
                            <p>{$v.company_name}</p>
                            <p>
                                <span class="v_num">编号：{$key+1}</span>
                                <span class="v_vote">票数：<en id="vote_num{$v.id}">{$v.tp_num}</en></span>
                            </p>
                            <dd>
                                <eq name="record_id" value="$v.id">
                                    <span  style="background:#959595" onclick="do_vote({$v.id})" >已投</span><span class="share">分享</span>
                                    <else />
                                    <span id="btn_tp{$v.id}"  onclick="do_vote({$v.id})" >投票</span><span class="share">分享</span>
                                </eq>
                            </dd>
                        </li>
                    </volist>


                </ul>
    </div>

    <div class="foot clearFix">
        <ul class="foot_menu clearFix">
            <li class="foot_act"><a href="{:U('index')}">全部参赛</a></li>
            <li><a href="{:U('rank_list')}">当前排名</a></li>
            <li><a href="{:U('act_rules')}">活动规则</a></li>
        </ul>
    </div>
    <script>
        votes_state = {$vote_state};
        function do_vote(pid){
            var old_num = $("#vote_num"+pid).html();
            var old_all_num = $("#all_vote_num").html();
            if(votes_state == 3){
                open_tk();
            }else if(votes_state == 2){
                alert('今日已投，请明日再来')
            }else if(votes_state == 1){
                $.ajax({
                    type:"post",
                    url:"{:U('handleVotes')}",
                    data:{id:pid},
                    success:function (data) {
                        var code = data.code;
                        if(code ==1 ){
                            $(".ts_info").html(data.msg);
                            var new_num = parseInt(old_num)+1;
                            var new_all_num = parseInt(old_all_num)+1;
                            $("#vote_num"+pid).html(new_num);
                            $("#all_vote_num").html(new_all_num);
                            $("#btn_tp"+pid).css("background",'#959595');
                            $("#btn_tp"+pid).html("已投");
                            djs_tk();
                        }else{
                           alert(data.msg);
                        }
                    }
                })
            }
        }
        $("#sel_btn").click(function () {
            alert('该搜索了');
        })
    </script>
</block>