<extend name="Home@Index/basetpl"/>
<block name="source">
    <title>房车时代</title>
    <link rel="stylesheet" href="__STATIC__/css/index.css">
</block>

<block name="body">
    <div class="index_body">
                <ul class="vote_list" style="overflow: hidden;">
                        <li>
<!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
<!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
<!--                            </a>-->
                            <img src="__STATIC__/images/head_img.jpg">
                            <p>凯伦宾威</p>
                            <p>
                                <span class="v_num">编号：01</span>
                                <span class="v_vote">票数：12345</span>
                            </p>
                            <dd>
                                <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                            </dd>
                        </li>
                    <li>
                        <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                        <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                        <!--                            </a>-->
                        <img src="__STATIC__/images/head_img.jpg">
                        <p>凯伦宾威</p>
                        <p>
                            <span class="v_num">编号：01</span>
                            <span class="v_vote">票数：12345</span>
                        </p>
                        <dd>
                            <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                        </dd>
                    </li>
                    <li>
                        <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                        <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                        <!--                            </a>-->
                        <img src="__STATIC__/images/head_img.jpg">
                        <p>凯伦宾威</p>
                        <p>
                            <span class="v_num">编号：01</span>
                            <span class="v_vote">票数：12345</span>
                        </p>
                        <dd>
                            <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                        </dd>
                    </li>
                    <li>
                        <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                        <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                        <!--                            </a>-->
                        <img src="__STATIC__/images/head_img.jpg">
                        <p>凯伦宾威</p>
                        <p>
                            <span class="v_num">编号：01</span>
                            <span class="v_vote">票数：12345</span>
                        </p>
                        <dd>
                            <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                        </dd>
                    </li>
                    <li>
                        <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                        <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                        <!--                            </a>-->
                        <img src="__STATIC__/images/head_img.jpg">
                        <p>凯伦宾威</p>
                        <p>
                            <span class="v_num">编号：01</span>
                            <span class="v_vote">票数：12345</span>
                        </p>
                        <dd>
                            <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                        </dd>
                    </li>
                    <li>
                        <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                        <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                        <!--                            </a>-->
                        <img src="__STATIC__/images/head_img.jpg">
                        <p>凯伦宾威</p>
                        <p>
                            <span class="v_num">编号：01</span>
                            <span class="v_vote">票数：12345</span>
                        </p>
                        <dd>
                            <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                        </dd>
                    </li>
                    <li>
                        <!--                            <a href="{:U('Lecturer/company_detail',array('id'=>$v['l_id'],'yd'=>1))}">-->
                        <!--                                <img src="__PUBLIC__/upload/company_logo/{$v.logo}">-->
                        <!--                            </a>-->
                        <img src="__STATIC__/images/head_img.jpg">
                        <p>凯伦宾威</p>
                        <p>
                            <span class="v_num">编号：01</span>
                            <span class="v_vote">票数：12345</span>
                        </p>
                        <dd>
                            <span data-id="{$v.id}">投票</span><span class="share">分享</span>
                        </dd>
                    </li>

                </ul>
    </div>

    <div class="foot clearFix">
        <ul class="foot_menu clearFix">
            <li class="foot_act">全部参赛</li>
            <li>当前排名</li>
            <li>活动规则</li>
        </ul>
    </div>
</block>