<extend name="Home@Index/basetpl"/>
<block name="source">
    <title>排行榜</title>
    <link rel="stylesheet" href="__STATIC__/css/rank.css">
</block>

<block name="body">
    <div style="margin-bottom: 3rem">
        <div class="rank_title">
            <p>排行榜</p>
        </div>
        <div>
            <ul class="rank_list">
                <volist name="list" id="v">
                    <li>
                        <span>{$key+1}</span>
                        <a href="{:U('detail',array('id'=>$v['id']))}">
                            <img src="__PUBLIC__/upload/company_logo/{$v.company_logo}" alt="{$v.company_name}" >
                        </a>
                        <span class="rank_name">{$v.company_name}</span>
                        <span class="v_vote">投票数：{$v.tp_num}</span>
                    </li>
                </volist>

            </ul>
        </div>
    </div>

    <div class="foot clearFix">
        <ul class="foot_menu clearFix">
            <li><a href="{:U('index')}">全部参赛</a></li>
            <li class="foot_act"><a href="{:U('rank_list')}">当前排名</a></li>
            <li><a href="{:U('act_rules')}">活动规则</a></li>
        </ul>
    </div>
    <script>
        $(function () {
            // window.scrollTo({
            //     top: 2000,
            //     behavior: "smooth"
            // });
            $('html,body').animate({"scrollTop":"500px"},500);
        });
    </script>
</block>