
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到登记</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="__STATIC__/css/style.css?time=1111" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="jq22-flexView">
    <section class="jq22-scrollView">
        <div class="jq22-auto-img">
            <img src="__STATIC__/images/info.jpg" alt="">
        </div>
        <div class="jq22-auto-form">
            <div class="jq22-auto-box" style="text-align: center;">
                <div class="sel_box">
                    <input type="text" id="key" name="key" placeholder="请输入手机号码">
                    <button class="jq22-apply-btn1" id="sel_btn" >查询</button>
                </div>
                <div>
                    <div class="jq22-flex">
                        <label>姓名</label>
                        <div class="jq22-flex-box">
                            <span id="username"></span>
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>品牌</label>
                        <div class="jq22-flex-box">
                            <span id="brand"></span>
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>车型</label>
                        <div class="jq22-flex-box">
                            <span id="car_type"></span>
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>手机号</label>
                        <div class="jq22-flex-box">
                            <span id="tel_phone"></span>
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>核验状态</label>
                        <div class="jq22-flex-box">
                            <span id="hy_state"></span>
                        </div>
                    </div>
                    <button class="jq22-apply-btn" id="hy_btn" style="display: none">核销</button>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
<script src="__STATIC__/js/jquery-1.12.2.min.js"></script>
<script>
    var cx_url = "__APP__/Rvact/Index/showUserInfo";
    var hy_id = 0;
    var hy_url= "__APP__/Rvact/Index/hyUserInfo";
    var hy_url1= "__APP__/Rvact/Index/checkSignInfo";
    $("#sel_btn").click(function () {
        var con = $("#key").val();
        $.ajax({
            url:cx_url,
            data:{con:con},
            success:function (data) {
                if(data.code == 1){
                    var info = data.info;
                    $("#username").html(info.username);
                    $("#brand").html(info.brand);
                    $("#car_type").html(info.car_type);
                    $("#tel_phone").html(info.tel_phone);
                    if(info.hy_state==0){
                        hy_id = info.hy_id;
                        $("#hy_state").text('未核验');
                        $("#hy_btn").show();
                    }else{
                        $("#hy_state").text('已核验');
                        $("#hy_btn").hide();
                    }
                }else{
                    alert('未查询到登记信息');
                }


            }
        })
    })
    
    $("#hy_btn").click(function () {
        if(hy_id>0){
            $.ajax({
                url:hy_url,
                data:{id:hy_id},
                success:function(data){
                    if(data.code==1){
                        alert(data.msg);
                        $("#hy_state").text('已核验');
                        $("#hy_btn").hide();
                    }
                }
            })
        }
    })
</script>