<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$info.title}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="__STATIC__/css/neat.css" />
    <link rel="stylesheet" href="__STATIC__/css/swiper.css" />
    <link rel="stylesheet" href="__STATIC__/css/phone_one.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=tBW47T7lwTiNXTigAGMKt42K"></script>
    <script type="text/javascript">
        function setFontSize(){
            var oWrap=document.getElementById('wrap');
            var width=document.documentElement.clientWidth;
            var height=document.documentElement.clientHeight;
            var oHtml=document.getElementsByTagName('html')[0];
            var fz = width/750*100;
            fz=fz>150?150:fz;
            oHtml.style.width = 7.5*fz + 'px';
            oHtml.style.fontSize = fz + 'px';
            oWrap.style.display='block';
        };
        window.addEventListener('load',setFontSize,false);
        window.addEventListener('resize',setFontSize,false);
    </script>
</head>
<body>
<div id="mask"></div>
<div id="message">必填项不能为空</div>
<div id="wrap">
    <header>
        <img  src="__PUBLIC__/upload/banner/{$info.banner_mobile}" alt="" />
    </header>
    <a name="fix"></a>
    <div class="main_content">
        <div class="activity">
            <div class="countdown">
                <img src="__STATIC__/images/mobile_time.png" alt="" />
                <b>活动剩余时间：</b>
                <b class="time">
                    <b>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                        <span>-</span>
                    </b>
                </b>
            </div>
            <div class="form">
                <h2>本车展已有<span>{$activityNum}</span>人报名领票</h2>
                <div class="content">
                    <div class="formBox">
                        <div class="item">
                            <h4>您的意向购买车型</h4>
                            <div id="newtest">
                                <div class="checkboxs">
                                    <input type="checkbox" name="model" value="B型房车"><span>B型房车</span>
                                    <input type="checkbox" name="model" value="C型房车"><span>C型房车</span>
                                    <input type="checkbox" name="model" value="拖挂式房车"><span>拖挂式房车</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <input type="text" class="text" id="username" placeholder="您的姓名"/>
                        </div>
                        <div class="item">
                            <input type="text" class="text" id="phone" placeholder="您的手机号"/>
                        </div>
                        <div class="item">
                            <eq name="act_status" value="1">
                                <input type="submit" class="submit" id="submit" value="免费报名领票" />
                                <else />
                                <input type="submit" class="submit no" value="免费报名领票" />
                            </eq>
                        </div>
                        <div class="txt">
                            <p>价值50元门票限量免费发送{$info.ticket_num}张</p>
                            <p>任何问题请拨打咨询热线: <a href="tel:{$activityData.majorphone}">{$info.service_phone}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="signlist clearfix">
                <div class="list">
                    <ul>
                        <foreach name="activityMemberList" item="v">
                            <li>
                                <span class="username">{$v.username}</span><span class="userphone">{$v.userphone}</span><span class="usercar">{$v.usercar}</span><span class="usertime">{$v.usertime}</span>
                            </li>
                        </foreach>
                    </ul>
                </div>
            </div>
        </div>
        <div id="flow">
            <div class="con">
                <img src="__STATIC__/images/mobile_flow.jpg" alt="" />
            </div>
        </div>
        <!--车展亮点-->
        <div class="spot">
            <h3>【车展亮点】</h3>
            <div class="list">
                <ul class="clearfix">
                    <foreach name="info['act_highlights']" item="v" key="k">
                        <li>
                            <div class="circle"><p>{$k+1}</p></div>
                            <p>{$v}</p>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
        <!--合作品牌-->
        <div id="brand">
            <div class="title"><h3>【合作品牌】</h3></div>
            <div class="list">
                <ul class="clearfix">
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743b31c63.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743be5719.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743c99830.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743d02226.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743db23e0.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-19/5daaeb2726268.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743f6880b.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d743fed3e7.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744073418.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7441b6acb.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74428fc22.jpg" alt=""></div>
                    </li>
                    <li>
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74432e79c.jpg" alt=""></div>
                    </li>
                    <li class="">
                        <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7443d3fee.jpg" alt=""></div>
                    </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7444357d3.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7444d67f0.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74457ee74.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748b9aa41.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7445d8fad.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7446851cd.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7447c0b6f.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74482ca3b.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74488db2d.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7449a6edb.jpg" alt=""></div>
                </li>                            <li class="">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744a4b6a2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744aea18f.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744b921c2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744ccf4fe.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7498b4a93.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744d306f8.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744d8fa1e.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744f3626b.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d744fcf38f.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74508862c.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74529240c.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7453a33ce.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745463bc0.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74552990f.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74561d55b.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745721e84.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7457e5b74.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7458a3bb4.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745a924da.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745bad0b0.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745c7cf4f.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745d2beb9.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745e4227f.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745f024c0.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d745faaaa2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7460bbc54.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7461a8850.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-11-04/5dbf84b9a9cae.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7462c6b09.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7463c0971.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7464c097c.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7465b6f46.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74668da99.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74675056a.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746841b79.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746918ac2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7469c3458.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746bd42dd.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746cd491b.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746dc32d5.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d746f5cc57.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74701836e.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7470cf6e6.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7471d2688.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7473af937.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74746edb1.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74753b8b8.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7475d49da.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7476a150e.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747868c81.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7479811fb.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747a7f0f2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747b441bd.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747be6d5c.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747d0020a.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747e15b97.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747f09966.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d747fe2e24.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7480eb700.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7481b97f3.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74827ebdb.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74836df08.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748477bf8.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748541ad9.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7485be4ab.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748646d0b.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7487135c5.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748804aaa.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748909cfc.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748a33324.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748aeaa4c.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748c8b13f.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748da3ea2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748ea3516.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d748f92567.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7490a1208.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74919978a.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7492a3df3.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7493a6594.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749483e5a.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749575123.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7495f1f88.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d7496b21a1.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d74979aae2.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749984c15.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-10-09/5d9d749a30acb.jpg" alt=""></div>
                </li>                            <li class="none">
                    <div><img src="http://activityimg.rvtimes.cn/2019-11-08/5dc4fe3701a75.jpg" alt=""></div>
                </li>                </ul>
            </div>
            <div class="more" id="more">查看更多品牌</div>
        </div>
        <!--车展路线-->
        <div id="address">
            <div class="title"><h3>【车展路线】</h3></div>
            <div id="allmap"></div>
            <div class="txt">
                <img src="__STATIC__/images/mobile_car.png" alt="" />
                <span>乘车线路：</span>
                <foreach name="info['lines']" item="v">
                    <p>{$v}</p>
                </foreach>
            </div>
        </div>
        <!--车展会场-->
        <div id="scene">
            <div class="title"><h3>【车展会场】</h3></div>
            <div class="img">
                <div class="swiper-container" id="swipers">
                    <div class="swiper-wrapper">
                        <foreach name="scene_img" item="v">
                            <div class="swiper-slide">
                                <img src="__PUBLIC__/upload/scene/{$v.img_url}" alt="">
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
        <!--车展简介-->
        <div id="desc">
            <div class="title"><h3>车展简介</h3></div>
            <dl>
                <dt>▶ 展会详细信息</dt>
                <dd><span>时　　间：</span>{$info.start_time|date="m月d日",###}-{$info.end_time|date="m月d日",###}</dd>
                <dd><span>地　　点：</span>{$info.act_address}</dd>
                <if condition="$activityData.support neq ''"><dd><span>支持单位：</span>{$info.support}</dd></if>
                <dd><span>主办单位：</span>{$info.sponsor_unit}</dd>
                <if condition="$info.co_sponsored neq ''"><dd><span>联合主办：</span>{$info.co_sponsored}</dd></if>
                <dd class="chengban"><span>承办单位：</span></dd>
                <dd><span>咨询热线：</span>{$info.consult_phone}</dd>
                <dd><p>{$info.act_intro}</p></dd>
            </dl>
        </div>
        <div class="copy">&copy; 2014-2019 房车时代 <p>京ICP备07503663号 京公网安备11010802015289号</p> </div>
    </div>
    <!--
    <footer>
        <img src="{$activityData.weixin}" alt="" />
    </footer>
    -->
    <div id="fixed">
        <ul class="footer clearfloat">
            <li><a href="#fix" target="_self">免费报名</a></li>
            <li><a href="tel:{$info.recept_phone}">{$info.recept_phone}</a></li>
        </ul>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var lgt="{$info.map_longitude}";
    var lat="{$info.map_latitude}";
    var themes='__STATIC__';
    //倒计时
    var time_end='{$info.end_time}'*1000;
    //表单
    var id="{$info['id']}";
    var source='{$source}';
    //var url='{$refererUrl}';
    var organizer='{$info.undertaking_unit}';
    var use_url = "__APP__/Rvact/Index/sign";
    var type='mobile';
    var base_url = "__APP__/Rvact/Index/";

</script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/swiper.js"></script>
<script type="text/javascript" src="__STATIC__/js/global.js"></script>
<script type="text/javascript" src="__STATIC__/js/phone.js"></script>
<script type="text/javascript" src="__STATIC__/js/activity.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?45b5abb08536534812572d35aec22430";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    $(window).on('scroll load',function() {
        if($(window).scrollTop()>=$('.signlist').offset().top){
            $('#fixed').show();
        }else{
            $('#fixed').hide();
        }
    });
    organize(organizer);
    function organize(organizer){
        var arr=organizer.split('、');
        var dom='';
        for(var i=0; i<arr.length; i++){
            if(arr[i].indexOf('房车时代')>-1){
                dom+='<a href="http://www.rvtimes.cn/" class="organizer">'+arr[i]+'、</a>';
            } else{
                dom+='<i class="organizer">'+arr[i]+'、</i>';
            }
        }
        $('.chengban').append(dom);
        $('.organizer:last').text($('.organizer:last').text().split('、')[0]);
    }

    /*轮播图*/
    if($('#swipers img').size()>1){
        var swiper = new Swiper('.swiper-container', {
            paginationClickable: true,
            speed: 1000,
            loop: true,
            observer:true,
            observeParents:true,
            autoplayDisableOnInteraction : false,
            autoplay:3000
        });
    }
</script>