<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>报名成功-房车时代网</title>
    <link rel="stylesheet" href="__STATIC__/css/neat.css" />
    <link rel="stylesheet" href="__STATIC__/css/signSuccess.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/indexNew.css">

</head>
<body>
<iframe src="__APP__/Rvact/index/header" width="100%" height="290" frameborder="0" scrolling="0"></iframe>
<div id="wrap">
    <div class="con">
        <div class="content clearfix">
            <div class="fl left">
                <h3>恭喜您,报名成功！</h3>
                <p>{$info.success_info}</p>
                <div class="links">
                    接下来您可以：<a href="{:U('Index',array('id'=>$id,'source'=>$source))}" target="_self">返回活动继续报名</a>   ｜ <a href="http://www.rvtimes.cn">房车时代首页</a>   ｜   <a href="http://www.rvtimes.cn/rv-car/">热门车型</a>
                </div>
            </div>
            <div class="fl right"></div>
        </div>
    </div>
</div>
<iframe src="__APP__/index/footer" width="100%" height="186" frameborder="0" scrolling="0"></iframe>
</body>
</html>