
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到登记</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="__STATIC__/css/style.css?time=1533" rel="stylesheet" type="text/css" />
</head>
<body>
<section class="jq22-flexView">
    <section class="jq22-scrollView">
        <div class="jq22-auto-img">
            <img src="__STATIC__/images/info.jpg" alt="">
        </div>
        <div class="jq22-auto-form">
            <div class="jq22-auto-box">

                <div  class="jq22-auto-inp">
                    <div class="jq22-flex">
                        <label>姓名</label>
                        <div class="jq22-flex-box">
                            <input type="text" id="username" placeholder="请输入姓名">
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>品牌</label>
                        <div class="jq22-flex-box">
                            <select id="brand" class="weui-select" name="select1">

                                <option selected="" value="0">请选择</option>
                                <option value="江铃集团旅居车">江铃集团旅居车</option>
                                <option value="福客特房车">福客特房车</option>
                                <option value="览众房车">览众房车</option>
                                <option value="隆翠房车">隆翠房车</option>
                                <option value="旌航房车">旌航房车</option>
                                <option value="宇通房车">宇通房车</option>
                                <option value="朗宸房车">朗宸房车</option>
                                <option value="霍夫勒房车">霍夫勒房车</option>
                                <option value="新星房车">新星房车</option>
                                <option value="美国固特房车">美国固特房车</option>
                                <option value="澳大利亚帝盛房车">澳大利亚帝盛房车</option>
                                <option value="康派斯房车">康派斯房车</option>
                                <option value="德发房车">德发房车</option>
                                <option value="伊甸园房车">伊甸园房车</option>
                                <option value="诺优房车">诺优房车</option>
                                <option value="赛德房车">赛德房车</option>
                                <option value="卫航房车">卫航房车</option>
                                <option value="澳森房车">澳森房车</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>车型</label>
                        <div class="jq22-flex-box">
                            <select id="car_type" class="weui-select" name="select1">
                                <option selected="" value="0">请选择</option>
                                <option value="b型">b型</option>
                                <option value="c型">c型</option>
                                <option value="拖挂">拖挂</option>

                            </select>
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>手机号</label>
                        <div class="jq22-flex-box">
                            <input type="text" id="phone1" autocomplete="off" placeholder="请输入手机号码">
                        </div>
                    </div>
                    <div class="jq22-flex">
                        <label>短信验证码</label>
                        <div class="jq22-flex-box">
                            <input type="text" id="code1" autocomplete="off" placeholder="请输入验证码">
                            <input id="btnSendCode1" type="button" class="btn btn-default" value="获取验证码" onClick="sendMessage1()" />
                        </div>
                    </div>
                    <button class="jq22-apply-btn"  onClick="binding()">签到登记</button>

                </div>

            </div>

        </div>
        <div style="text-align: center">
            <p>活动内容最终解释权归主办方所有</p>
        </div>
    </section>
</section>
</body>
<script src="__STATIC__/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript">
    var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
    var count = 60;
    var InterValObj1;
    var curCount1;
    var yzm_url = "__APP__/Rvact/Index/sendMsCode";
    var sign_url = "__APP__/Rvact/Index/handleSignInfo";
    function sendMessage1() {
        curCount1 = count;
        var phone = $.trim($('#phone1').val());
        if (!phoneReg.test(phone)) {
            alert(" 请输入有效的手机号码");
            return false;
        }
        $.ajax({
            type:'post',
            url:yzm_url,
            data:{phone:phone},
            success:function (data) {
                if(data.code == 1){
                    $("#btnSendCode1").attr("disabled", "true");
                    $("#btnSendCode1").val( + curCount1 + "秒再获取");
                    InterValObj1 = window.setInterval(SetRemainTime1, 1000);
                }else{
                    alert(data.msg)
                }
            }
        });


    }


    function SetRemainTime1() {
        if (curCount1 == 0) {
            window.clearInterval(InterValObj1);
            $("#btnSendCode1").removeAttr("disabled");
            $("#btnSendCode1").val("重新发送");
        }
        else {
            curCount1--;
            $("#btnSendCode1").val( + curCount1 + "秒再获取");
        }
    }

    function binding(){
        var username = $("#username").val();
        var yzm_code = $("#code1").val();
        if(username == ''){
            alert('姓名不能为空');
        }
        var brand = $("#brand").val();
        if(brand == 0){
            alert('品牌不能为空');
            return false;
        }
        var car_type = $("#car_type").val();
        if(car_type == 0){
            alert('车型不能为空');
            return false;
        }
        var code1 = $("#code1").val();
        if(code1 == ''){
            alert('验证码不能为空');
        }
        var tel_phone = $("#phone1").val();
        $.ajax({
            url:sign_url,
            type:"post",
            data:{username:username,brand:brand,car_type:car_type,yzm_code:yzm_code,tel_phone:tel_phone},
            success:function (data) {
                var url = "{:U('Index/dj_success')}";
                location.href = url + "/id/"+data.id;
            }
        })
        return false;
    }
</script>

</html>
