/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/* 清除浮动 */
.clearFix:after{ display:block; clear:both; content:""; }
.clearFix{zoom:1; }

.foot {
    position: fixed;
    bottom: 0;
    background: #F2A603;
    font-size: 0.6rem;
    color: #ffffff;
    width: 100%;
}

.foot_act {
    background: #EB3357
}
.foot_menu li{
    float: left;
    display: block;
    text-align: center;
    width: 33.3%;
    border-right: 1px solid #fff;
    line-height: 2.3rem;

}
.foot_menu li:last-child {
    border: none;
}
.foot_menu a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;

}