.head_middle {
    background: #EB3357;
    font-size: 0.6rem;
    color: #ffffff;
    margin-bottom: .4rem;
}
.head_dh li{
    float: left; /* 往左浮动 */
    display: block;
    text-align: center;
    width: 33%;
    margin: .48rem 0;
    border-right:1px solid #ccc
}
.head_middle li:last-child {
    border: none;
}
.head_dh p {
    text-align: center;
}

.head_footer {
    text-align: center;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.head_footer img{
    width: 0.81rem;
    height: 0.82rem;
}

.date-tiem-span,.date-s-span {
    font-size: .7rem;
    display: inline-block;
    width:1.1rem;
    height:1rem;
    line-height: 1rem;
    text-align: center;
    border-radius:5px;
    background: #EB3357;
    color: #ffffff;
}
.date-info-show {
    font-size: .7rem;
    color:#eb325b;
}
.date-s-span {
    background:#f00;
}
.date-def {
    font-size: .65rem;
    display: inline-block;
    width:1.1rem;
    height:1rem;
    line-height: 1rem;
    text-align: center;
    border-radius:5px;
    background:#BFBFBF;
    color: #ffffff;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #1b1919;

}


.testBtn-a{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    color: #fff;
    background: rgb(65,133,244);
    cursor: pointer;
    margin-top: 1.2rem;
    margin-left: 0.3rem;
}
.testBtn-a.on {
    background: #c9c9c9;
    color: #666;
    cursor: default;
}

.register .yan .inp input {
    margin-top: 15px;
    font-weight: 400;
}
.inp {
    border-bottom: 2px solid #c1c1c1;
}
.yan .inp input {

    width: 55%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    /* font-weight: 700; */
    /*background-color: #f1eced;*/
    margin-top: 15px;
}
.button {
    margin: 1.2rem 1.6rem 0 2rem;
    width: 68%;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: rgb(65,133,244);
    color: #fff;
    font-size: 1rem;
}
.register {
    width: 16rem;
    height: 14rem;
    background-color: #fff;
    /* margin: 6% auto 0 auto; */
    border-radius: 7%;
    padding: .6rem .3rem .6rem 1rem;
    position: absolute;
    left: 9%;
}
.register p{
    text-align: center;
    font-size: 1rem;
    margin-top: .5rem;
}
.close_tk {
    display: block;
    float: right;
    /* margin: .3rem 0; */
    width: 1rem;
}